<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'show_index' %}">Eventia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'show_index' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'events:events_list' %}">События</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:my_profile' %}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    var header = document.getElementsByTagName("header")[0];
    var navbar = document.getElementsByClassName("navbar")[0];
    window.addEventListener('scroll', function() {
        if (window.scrollY > header.offsetHeight) {
            navbar.classList.add('fixed-nav');
        } else {
            navbar.classList.remove('fixed-nav');
        }
    });
</script>